
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Monosphere');
@import url('https://fonts.googleapis.com/css2?family=Quicksand');


html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #64605F; /* this targets any h1 elements*/
  --header-color:    #64605F;;
  --body-color:      #64605F;
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    Quicksand; 
  --mono-font:       monospace;
  --body-font:       Quicksand; 
  --navbar-font:     Quicksand;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   #64605F; /*-- was rgba(0, 0, 0, 0.5) --*/ 
  --body-size:       0.8rem;
  --body-color:      rgba(100, 96, 95, 0.8); /*-- was rgba(0, 0, 0, 0.8) --*/
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   #64605F; /*-- UNSURE WHAT THIS CHANGES was rgba(0, 0, 0, 0.65) --*/ 
  --text-size:       0.8em;
  --text-color:      rgb(100, 96, 95, 0.5); /*-- UNSURE WHAT THIS CHANGES was rgba(0, 0, 0, 0.5) --*/
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header { 
  --title-size:       18px;
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        19px;
  --hover-color:      white; 
  --bkgd-color:       #88a2a5; /*-- sage green: #93A588 --*/ 
}

.distill-site-footer {
  --text-color:       rgba(255, 255, 255, 0.8);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #88a2a5; 
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below */

/* -- the class, `distill-site-nav` addresses BOTH the header and footer (see https://rstudio.github.io/distill/) -- */ 
.distill-site-nav{
  color: rgba(255, 255, 255, 0.8); 
  background-color: #88a2a5; 
  font-size: 19px;
  font-weight: 300;
}

/* -- header letter spacing, font weight, color -- */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 5px;
  font-weight: 300;
  color: #64605F;
}

/* -- change color of inline code (background-color: #F5F2F2;)-- */ 
code {
  color: #A58893;
}


